.contact-hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324F44;
}

.contact__left-box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.contact__right-box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form{
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background-color: #324F44;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.contact__form-group{
    display: flex;
    justify-content: flex-start;
    height: 10em;
    flex-direction: column;
    padding: 10px;
}

.contact__form-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
    color: white;
}

.contact__form-input{
    width: 9em;
    height: 3.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .3em;

}

.contact__form-button{
    width: 30%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3em;
}

.contact__form-firstname{
    display: flex;
    float: left;
    width: 50%;
    flex-direction: column;
}

.contact__form-lastname{
    display: flex;
    float: right;
    width: 50%;
    flex-direction: column;
}

.contact__form-fullname{
    display: flex;
    justify-content: flex-start;
    height: 10em;
    flex-direction: row;
    padding: 10px;
}

.contact__form-group__btn{
    display: flex;
    justify-content: flex-start;
    height: 5em;
    flex-direction: column;
    padding: 10px;
}

.contact__form-message{
    width: 90%;
    height: 3.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: .3em;
}

.contact__form-email{
    width: 90%;
    height: 3.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: .3em;
}

.not-show {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 3s;
}

.do-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}