/* Contact.css */
.contact__about-section {
  position: fixed;
  top: 30px;
  left: 60px;
  right: 60px;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid black;
}

.contact-about-content {
  display: flex;
}

.about__me {
  padding: 20px;
  border: 1px solid blue;
  height: 85vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  padding: 20px;
  border: 1px solid red;
  height: 85vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Disable scrolling when the overlay is visible 
body {
  overflow: hidden;
}
*/
.contact__form-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 40em;
  width: 40em;
}

.about__me-container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 40em;
  width: 40em;
}
