.header__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #324F44;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header__logo{
  font-size: 2em;
  font-weight: 600;
  opacity: 0.5;
}

.header__logo:hover{
  opacity: 1;
  transition: all .5s;
  cursor: pointer;
}

.header__logo-dot{
  color: white;
}

.header__logo-dash{
  color: black;
}

.header__items-cont{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: 50px;
}

.header__item{
  font-size: 1.5em;
  padding: 10px;
  color: white;
  opacity: 0.5;
}

.header__item:hover{
  opacity: 1;
  transition: all .5s;
  cursor: pointer;
}

