.header{
  position: fixed;
  top: 0px;
  border-radius: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 16vw;
  margin-left: 2em;
}

.header__logo{
  font-size: 2em;
  font-weight: 600;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo:hover{
  opacity: 1;
  transition: all .5s;
  cursor: pointer;
}

.header__logo-dot{
  color: white;
}

.header__logo-dash{
  color: black;
}

.header__items-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  height: 100%;
  margin-right: 2em;
}

.header__item{
  font-size: 1.5em;
  padding: .5em;
  color: white;
  opacity: 0.5;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__item:hover{
  opacity: 1;
  transition: all .5s;
  cursor: pointer;
}

