.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #324F44;
    position: relative;
}

.home__title-container{
    border: 1px solid black;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.home__title{
    font-size: 9em;
    font-weight: 600;
    color: white;
}

.home__subtitle{
    font-size: 2.5em;
    font-weight: 600;
    color: white;
    opacity: 0.5;
}

.hide-it {
    opacity: 0;
    filter: blur(5px);
    transition: all 4s;
}

.show-it {
    opacity: 0.5;
    filter: blur(0);
}

