@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.project__section{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #223732;
}

.project__content{
    width: 110em;
    margin: 0 auto;
}

.project__list{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.project__list li {
    margin-bottom: 135px;
}

.project__list li:nth-child(odd) {
    margin-left: 13%;
}

.project__list li:nth-child(even) {
    margin-right: 13%;
}

.project__list li:last-child {
    margin-bottom: 0
}


.project__list-item{
    display: block;
    height: 100%;
    width: 80%;
    opacity: 1;
    height: 480px;
    background-color: white;
    position: relative;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
    margin-left: auto;
    margin-right: auto;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .35s ease;
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
}

.item_container{
    grid-area: 4 / 1 / 4 / 4;
    padding-left: 30px;
    transition: all .35s ease-in-out;
}

.item_name{
    color: black;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: left;
    width: 15em;
}

.item_description{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 10px;
    font-family: 'Montserrat';
    font: italic;
}

.item_button{
    margin-top: 25px;
}

/*on hover have a film slide from the left to the right */
.project__list-item:hover .item_container{
    transform: scale(1.03);
    transition: all .35s ease-in-out;
    transition-delay: .4s;
}












