.project-hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.project-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}
  
.project-single{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    width: 25em;
    height: 25em;
    border-radius: 5px;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%
}
  