.projects{
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324F44;
    padding: 5em;
}

.projects__container {
    height: 200vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-around;
}

.projects__title{
    font-size: 4rem;
    color: white;
    text-align: left;
    justify-content: left;
    margin: 1em;
    padding-left: 1em;
    width: 100vw;
}
  
.projects__box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1em;
}
  
.project__box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    margin: 1em;
}

.project__mini-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.project__1{
    height: 90%;
    width: 70%;
}

.project__2{
    height: 90%;
    width: 30%;
}

.project__3{
    height: 90%;
    width: 30%;
}

.project__4{
    height: 90%;
    width: 70%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project-single:nth-child(2){
    transition-delay: 200ms;
}

.project-single:nth-child(3){
    transition-delay: 400ms;
}




