@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

li, a, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.header{
  height: 100vh;
  background-image: url(../img/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
  background-size: cover;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
  animation-name: logo;
  animation-duration: 3s;
}

.logo_container{
  cursor: pointer;
  color: white;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.navbar_links{
  list-style: none;
}

@keyframes nav {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.navbar_links li{
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a{
  transition: all 0.3s ease 0s;
}

.navbar_links li a:hover{
  color:rgb(131, 131, 131);
}

button{
  padding: 9px 25px;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  color: grey;
}

.header_hero{
  position: relative;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  background-color: #223732;
  border-radius: 20px;
  max-width: 130em;
  max-height: 1000px;
  animation-name: header;
  animation-duration: 3s;
}

/*if the screeen height is small than 800px then the styles need to change */
@media screen and (max-height: 650px){
  .header_hero{
    grid-template-rows: repeat(4, 60px);
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
  }
}

.hero_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  grid-area: 3/1/4/4;
  padding: 0 50px;
  animation-name: hero;
  animation-duration: 3s;
}

.hero_title{
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero_subtitle{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  opacity: 0.5;
}

.hero_button{
  margin-top: 1em;
  width: 10em;
  border-radius: 20px;
}

.hero_button:hover{
  border-radius: 0px;
  color: white;
}

/*have the header_hero slowly appear on page load*/
@keyframes hero {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact_btn{
  background: transparent;
}







