*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit
}
  
html {
    font-size: 62.5%;
    scroll-behavior: smooth
}
  
@media only screen and (max-width: 75em) {
    html {
        font-size:59%
    }
  }
  
  @media only screen and (max-width: 56.25em) {
    html {
        font-size:56%
    }
  }
  
  @media only screen and (min-width: 112.5em) {
    html {
        font-size:65%
    }
  }
  
  body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif
  }
  
  a {
    text-decoration: none;
    color: inherit
  }
  
  li {
    list-style: none
  }
  
  a:focus,button:focus,input:focus,textarea:focus {
    outline: 0
  }
  
  button {
    border: none;
    cursor: pointer
  }
  
  textarea {
    resize: none
  }

  .projects{
    width: 100vw;
    position: relative;
    top: 70rem;
    display: flex;
    justify-content: center;
  }

  .projects__content{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project__title{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }

  .project__description{
    font-size: 1.7rem;
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom: 9rem;
    color: #666;
  }

.project__container{
    border: 2px solid black;
    background-color: #666;
    height: 25rem;
    width: 90%;
    margin-bottom: 4rem;
    border-radius: 1rem;
}

.single__project__title{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.single__project__description{
    font-size: 1.7rem;
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom: 2rem;
    color: #666;
    line-height: 3rem;
    max-width: 60rem;
    color: #666;
}

.case__study__btn{
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15rem;
  margin-top: 2.5rem;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  padding: 1.5rem 5rem;
  font-size: 1.7rem;
  background-color: bisque;
  border: 2px solid black;
}

  









